<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <h4 th:if="${stockItem.id != null}"
                                th:text="${stockItem.ingredient.name +' - Editar inventario'}"></h4>
                            <h4 th:if="${stockItem.id == null}">
                                Agregar inventario
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form th:object="${stockItem}"
                          th:action="@{'/stock'}"
                          method="post">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <ul>
                                <li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error</li>
                            </ul>
                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{ingredient}"/>
                        <div class="form-row align-items-center">
                            <div class="form-group col-6">
                                <label for="inputIngredient">Ingrediente</label>
                                <input type="text" class="form-control" id="inputIngredient"
                                       th:field="*{ingredient.name}" th:disabled="disabled"/>
                            </div>
                            <div class="col-1">
                                <a href="#" data-toggle="modal" id="search"
                                   data-target="#searchIngredient">
                                    <i class="fas fa-search fa-2x"></i>
                                </a>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label for="inputQuantity">Cantidad</label>
                                <div class="input-group mb-2">
                                    <input type="number" id="inputQuantity" class="form-control" th:field="*{quantity}"
                                           th:required="required" min="0">
                                    <div class="input-group-text"
                                         th:if="${stockItem.ingredient.uom} != null"
                                         th:text="${stockItem.ingredient.uom.name().toLowerCase()}"></div>
                                </div>
                            </div>

                            <div class="form-group col-3">
                                <label for="inputDate">Fecha de abastecimiento</label>
                                <div class="input-group mb-2">
                                    <input id="inputDate" class="form-control" th:field="*{lastSupplyDate}"
                                           th:value="*{lastSupplyDate}"
                                           type="text"
                                           th:required="required" >

                                    <script>

                                        var date = new Date();

                                        var year = date.getFullYear();
                                        var month = date.getMonth()+1;
                                        var day = date.getDate();

                                        if (day < 10) {
                                            day = '0' + day;
                                        }
                                        if (month < 10) {
                                            month = '0' + month;
                                        }

                                        var today = day + '/' + month + '/' + year

                                        $('#inputDate').datepicker({
                                            uiLibrary: 'bootstrap4',
                                            iconsLibrary: 'fontawesome',
                                            format: 'dd/mm/yyyy',
                                            value: today
                                        });
                                    </script>

                                </div>
                            </div>

                        </div>
                        <div class="form-row justify-content-end">
                            <div class="col-1">
                                <a class="btn btn-secondary" href="#" role="button"
                                   th:href="@{'/stock'}">
                                    Cancelar</a>
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="searchIngredient">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table" id="ingredientTable">
                                        <thead>
                                        <tr>
                                            <th>Ingrediente</th>
                                            <th>Categoria</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="ingredient : ${ingredientList}">
                                            <td>
                                                <a href="#" th:text="${ingredient.name}"
                                                   th:href="@{'/stock/add?ingredientId='+${ingredient.id}}">Jitomate
                                                </a>
                                            </td>
                                            <td th:text="${ingredient.category.name}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>