<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <!-- Custom styles for this template -->
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(function () {
            $('#recipeTable').DataTable({
                "lengthMenu": [5, 10, 25, 50],
                "pageLength": 10,
                "order": [[0, 'asc'], [1, 'asc']]
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('#deleteError').delay(5000).fadeOut('slow');
            $('#deleteMessage').delay(5000).fadeOut('slow');
        })
        /*]]>*/
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h5>Recetas</h5>
                        </div>
                        <div class="col-2" align="right">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/recipes/new'}" data-toggle="tooltip" data-placement="left"
                               title="Nueva receta">
                                <i class="fas fa-plus-circle fa-2x" style="color:green"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div th:if="${deleteError}" class="alert alert-danger" id="deleteError">
                                <div th:text="${deleteError}">...</div>
                            </div>
                            <div th:if="${deleteMessage}" class="alert alert-info" id="deleteMessage">
                                <div th:text="${deleteMessage}">...</div>
                            </div>
                            <div class="table-responsive table-condensed">
                                <table class="table table-sm" id="recipeTable">
                                    <thead>
                                    <tr>
                                        <th>Receta</th>
                                        <th>Categoria</th>
                                        <th>Tiempo de Preparacion</th>
                                        <th>Tiempo de coccion</th>
                                        <th>Porciones</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="recipeItem : ${recipeList}">
                                        <td><a href="#" th:text="${recipeItem.name}"
                                               th:href="@{'/recipes/'+${recipeItem.id}+'/show'}">Tacos
                                        </a></td>
                                        <td th:text="${recipeItem.recipeCategory.name}"></td>
                                        <td th:text="${recipeItem.prepTime}"></td>
                                        <td th:text="${recipeItem.cookTime}"></td>
                                        <td th:text="${recipeItem.servings}"></td>
                                        <td style="text-align: center;">
                                            <a href="#" class="badge badge-primary"
                                               th:href="@{'/recipes/'+${recipeItem.id}+'/edit'}">
                                                <i class="fas fa-pencil-alt fa-lg"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Editar receta"></i></a>
                                            <a href="#" class="badge badge-danger"
                                               data-toggle="modal"
                                               data-target="#modal-delete"
                                               th:attr="data-id=${recipeItem.id}, data-name=${recipeItem.name}">
                                                <i class="fas fa-trash-alt fa-lg"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Eliminar receta"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="modal-delete">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modalTitle"></h4>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    &times;
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                        data-dismiss="modal">Cancelar
                                                </button>
                                                <a href="#" id="deleteButton" class="btn btn-success">
                                                    Aceptar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="none" class="init">
    /*<![CDATA[*/
    $('#modal-delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id');
        var name = button.data('name');
        $("#modalTitle").text('Eliminar ' + name + '?');
        $("#deleteButton").attr("href", '/recipes/' + id + '/delete');
    });
    /*]]>*/
</script>
</body>
</html>