<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#recipeTable').DataTable({
                "lengthMenu": [5, 10, 25, 50],
                "pageLength": 5,
                "order": [[0, 'asc'], [1, 'asc']]
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        /*]]>*/
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <h5>Recetas</h5>
                        </div>
                        <div class="col-1">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/recipes/new'}" data-toggle="tooltip" data-placement="left"
                               title="Nueva receta">
                                <i class="fas fa-plus-circle fa-2x" style="color:green"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table" id="recipeTable">
                                    <thead>
                                    <tr>
                                        <th>Receta</th>
                                        <th>Categoria</th>
                                        <th>Tiempo de Preparacion</th>
                                        <th>Tiempo de coccion</th>
                                        <th>Porciones</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="recipeItem : ${recipeList}">
                                        <td><a href="#" th:text="${recipeItem.name}"
                                               th:href="@{'/recipes/'+${recipeItem.id}+'/show'}">Tacos
                                        </a></td>
                                        <td th:text="${recipeItem.recipeCategory.name}"></td>
                                        <td th:text="${recipeItem.prepTime}"></td>
                                        <td th:text="${recipeItem.cookTime}"></td>
                                        <td th:text="${recipeItem.servings}"></td>
                                        <td style="text-align: center;">
                                            <a href="#" class="badge badge-primary"
                                               th:href="@{'/recipes/'+${recipeItem.id}+'/edit'}">
                                                <i class="fas fa-pencil-alt fa-lg" data-toggle="tooltip"
                                                   data-placement="bottom" title="Editar receta"></i></a>
                                            <a href="#" class="badge badge-danger"
                                               data-toggle="modal"
                                               th:attr="data-target='#modal-delete'+${recipeItem.id}">
                                                <i class="fas fa-trash-alt fa-lg" data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Eliminar receta"></i>
                                            </a>
                                        </td>

                                        <div class="modal fade" th:id="modal-delete+${recipeItem.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title"
                                                            th:text="${'Eliminar '+ recipeItem.name +'?'}"></h4>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal">Cancelar
                                                        </button>
                                                        <a th:href="@{'/recipes/'+${recipeItem.id}+'/delete'}">
                                                            <button
                                                                    type="button" class="btn btn-success">Aceptar
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>