<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <!-- Custom styles for this template -->
</head>
<body>

<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 th:if="${recipe.id} == null">Nueva receta</h4>
            <h4 th:if="${recipe.id} != null">Editar receta</h4>
        </div>
        <div class="card-body">
            <form th:object="${recipe}" th:action="@{/recipe}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{ingredientList}"/>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control" id="inputName"
                               th:field="*{name}" th:required="required"/>
                    </div>
                    <div class="form-group col-6">
                        <label for="inputCategory">Categoría</label>
                        <select id="inputCategory" class="form-control" th:field="*{recipeCategory}"
                                th:required="required">
                            <option th:each="cat : ${recipeCategories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 col-6">
                        <label for="inputServings">Porciones</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputServings" min="0"
                                   th:field="*{servings}" th:required="required">
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-6">
                        <label for="inputPrepTime">Tiempo de preparación</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputPrepTime"
                                   th:field="*{prepTime}" min="0" th:required="required">
                            <div class="input-group-text">min</div>
                        </div>
                    </div>
                    <div class="form-group col-md-4 col-6">
                        <label for="inputCookTime">Tiempo de cocción</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputCookTime"
                                   th:field="*{cookTime}" min="0" th:required="required">
                            <div class="input-group-text">min</div>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-end">
                    <div class="col-md-1 col-4">
                        <a class="btn btn-secondary" href="#" role="button"
                           th:href="@{'/recipes'}">
                            Cancelar</a>
                    </div>
                    <div class="col-md-1 col-3">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>