<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->
</head>
<body>

<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 th:if="${recipe.id} == null">Nueva receta</h4>
            <h4 th:if="${recipe.id} != null">Editar receta</h4>
        </div>
        <div class="card-body">
            <form th:object="${recipe}" th:action="@{/recipe}" method="post" >

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please Correct Errors Below</p>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{ingredientList}"/>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control" id="inputName" placeholder="e.g. Pozole"
                               th:field="*{name}" th:required="required" />
                    </div>
                    <div class="form-group col-6">
                        <label for="inputCategory">Categoría</label>
                        <select id="inputCategory" class="form-control" th:field="*{recipeCategory}"
                                th:required="required">
                            <option th:each="cat : ${recipeCategories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="inputServings">Porciones</label>
                        <input type="number" class="form-control" id="inputServings" placeholder="e.g. 5" min="0"
                               th:field="*{servings}" th:required="required">
                    </div>
                    <div class="form-group col-4">
                        <label for="inputPrepTime">Tiempo de preparación</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputPrepTime" placeholder="e.g. 15"
                                   th:field="*{prepTime}" min="0" th:required="required">
                            <div class="input-group-text">min</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label for="inputCookTime">Tiempo de cocción</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputCookTime" placeholder="e.g. 20"
                                   th:field="*{cookTime}" min="0" th:required="required">
                            <div class="input-group-text">min</div>
                        </div>
                    </div>
                </div>
                <div class="row" th:if="${recipe.ingredientList!=null && recipe.ingredientList.size()>0}">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-11">
                                        <h5>Ingredientes</h5>
                                    </div>
                                    <div class="col-1">
                                        <a class="btn btn-default" href="#"
                                           th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/edit'}">
                                            <i class="fas fa-edit  fa-2x"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li th:remove="all">150 gr de Pollo</li>
                                    <li th:remove="all">250 ml de Leche</li>
                                    <li th:each="ingredient : ${recipe.ingredientList}"
                                        th:text="${ingredient.quantity + ' ' + ingredient.ingredient.uom.name().toLowerCase() +' de '+ ingredient.ingredient.name}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="form-row" th:each="recipeIngredient, iStat : *{ingredients}">
                    <div class="form-group col-md-4">
                        <label for="inputIngredient">Ingrediente</label>
                        <select id="inputIngredient" class="form-control">
                            <option th:each="ingredientItem : ${ingredientList}"
                                    th:value="${ingredientItem}"
                                    th:text="${ingredientItem.name}"
                                    th:selected="${ingredientItem == recipeIngredient.ingredient}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="inputCity">Cantidad</label>
                        <input type="number" class="form-control" id="inputCity"
                               th:field="*{ingredients[__${iStat.index }__].quantity}">
                    </div>
                </div>
                <button type="submit" name="addIngredient">Agregar Ingrediente</button>-->

                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>