<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->
<!--     <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <link href="../../static/css/dashboard.css"
              th:href="@{/css/dashboard.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
              integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
              crossorigin="anonymous">-->


    <!-- Custom styles for this template -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-md-11 col-10">
                    <h5 th:text="${recipe.name}">TACOS DORADOS-E </h5>
                </div>
                <div class="col-1">
                    <a href="#" class="text-info"
                       th:href="@{'/recipes/' + ${recipe.id} + '/edit'}"
                       data-toggle="tooltip"
                       data-placement="bottom"
                       title="Editar receta">
                        <i class="fas fa-edit  fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-6">
                    <h6>Categoria:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.recipeCategory.name}">GORDIN-E</p>
                </div>
                <div class="col-md-4 col-6">
                    <h6>Porciones:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.servings}">5-E</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-6">
                    <h6>Tiempo de preparación:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.prepTime + ' min'} ">5 min-E</p>
                </div>
                <div class="col-md-4 col-6">
                    <h6>Tiempo de cocción:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.cookTime + ' min'}">5 min-E</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11 col-10">
                                    <h6>Ingredientes</h6>
                                </div>
                                <div class="col-md-1 col-1">
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="left" title="Añadir ingrediente"
                                       th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/add'}">
                                        <i class="fas fa-plus-circle fa-2x text-info"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div th:if="${recipe.ingredientList}">
                                <table class="table-borderless">
                                    <tbody>
                                    <tr th:each="ingredient : ${recipe.ingredientList}">
                                        <td>
                                            <a href="#" class="btn text-danger" data-toggle="modal"
                                               data-target="#modal-delete"
                                               th:attr="data-id=${recipe.id}, data-ingredient=${ingredient.id}">
                                                <i class="fas fa-times "></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="text-info font-weight-bold" href="#"
                                               th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/'+${ingredient.id}+'/edit'}"
                                               th:text="${ingredient.quantity + ' ' + ingredient.ingredient.uom.name().toLowerCase() +' de '+ ingredient.ingredient.name}">
                                                150 gr de Papas
                                            </a>
                                        </td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td><a href="#" class="btn"><i class="fas fa-times "></i></a></td>
                                        <td>150 gr de Pollo</td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td><a href="#" class="btn"><i class="fas fa-times "></i></a></td>
                                        <td>150 gr de Pollo</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">Eliminar este ingrediente de la receta?</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">Cancelar
                    </button>
                    <a href="#" id="deleteButton" class="btn btn-info">
                        Aceptar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#modal-delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id');
        var ingredientId = button.data('ingredient');
        $("#deleteButton").attr("href", '/recipes/' + id + '/ingredients/' + ingredientId + '/delete');
    });
</script>
</body>
</html>