<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <!-- Custom styles for this template -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col-md-11 col-10">
                    <h5 th:text="${recipe.name}">TACOS DORADOS-E </h5>
                </div>
                <div class="col-1">
                    <a href="#"
                       th:href="@{'/recipes/' + ${recipe.id} + '/edit'}">
                        <i class="fas fa-edit  fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 col-6">
                    <h6>Categoria:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.recipeCategory.name}">GORDIN-E</p>
                </div>
                <div class="col-md-4 col-6">
                    <h6>Porciones:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.servings}">5-E</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-6">
                    <h6>Tiempo de preparación:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.prepTime + ' min'} ">5 min-E</p>
                </div>
                <div class="col-md-4 col-6">
                    <h6>Tiempo de cocción:</h6>
                </div>
                <div class="col-md-2 col-6">
                    <p th:text="${recipe.cookTime + ' min'}">5 min-E</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11 col-10">
                                    <h5>Ingredientes</h5>
                                </div>
                                <div class="col-md-1 col-1">
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="left" title="Agregar ingrediente"
                                       th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/add'}">
                                        <i class="fas fa-plus-circle fa-2x" style="color:green"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div th:if="${recipe.ingredientList}">
                                <ul class="list-unstyled">
                                    <li th:remove="all">150 gr de Pollo</li>
                                    <li th:remove="all">250 ml de Leche</li>
                                    <li th:each="ingredient : ${recipe.ingredientList}">

                                        <a class="btn btn-default" href="#"
                                           th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/'+ ${ingredient.id} +'/delete'}">
                                            <i class="fas fa-times" style="color:red"></i>
                                        </a>
                                        -
                                        <a class="btn btn-default" href="#"
                                           th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/'+${ingredient.id}+'/edit'}"
                                           th:text="${ingredient.quantity + ' ' + ingredient.ingredient.uom.name().toLowerCase() +' de '+ ingredient.ingredient.name}">
                                            150 gr de Papas
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>