<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Platillo Godin - Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet">

</head>
<body>
<div class="container-fluid">

    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">

            <a class="py-2 d-none d-md-inline-block" href="#" th:href="@{'/'}">Dashboard</a>
            <a class="py-2 d-none d-md-inline-block" href="#" th:href="@{'/'}">Planear Menus</a>
            <a class="py-2 d-none d-md-inline-block" href="#" th:href="@{'/recipes'}">Recetas</a>
            <a class="py-2 d-none d-md-inline-block" href="#" th:href="@{'/'}">Ingredientes</a>
            <a class="py-2 d-none d-md-inline-block" href="#" th:href="@{'/'}">Catalogos</a>
        </div>
    </nav>
    <br>

    <div class="card">
        <div class="card-header">
            <h4 th:text="${recipe.name}">TACOS DORADOS-E </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4 html-editor-align-left">
                    <h5>Categoria</h5>
                </div>
                <div class="col-2">
                    <p th:text="${recipe.recipeCategory.name}">GORDIN-E</p>
                </div>
                <div class="col-4 html-editor-align-left">
                    <h5>Porciones</h5>
                </div>
                <div class="col-2">
                    <p th:text="${recipe.servings}">5-E</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 html-editor-align-left">
                    <h5>Tiempo de preparacion</h5>
                </div>
                <div class="col-2">
                    <p th:text="${recipe.prepTime + ' min'} ">5 min-E</p>
                </div>
                <div class="col-4 html-editor-align-left">
                    <h5>Tiempo de coccion</h5>
                </div>
                <div class="col-2">
                    <p th:text="${recipe.cookTime + ' min'}">5 min-E</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-11">
                                    <h5>Ingredientes</h5>
                                </div>
                                <div class="col-1">
                                    <a class="btn btn-default" href="#"
                                       th:href="@{'/recipes/' + ${recipe.id} + '/ingredients/edit'}">
                                        <i class="fas fa-edit  fa-2x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li th:remove="all">150 gr de Pollo</li>
                                <li th:remove="all">250 ml de Leche</li>
                                <li th:each="ingredient : ${recipe.ingredientList}"
                                    th:text="${ingredient.quantity + ' ' + ingredient.ingredient.uom.name().toLowerCase() +' de '+ ingredient.ingredient.name}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>