<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        /*]]>*/
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-11 col-10">
                            <h5>Gestión de Usuarios</h5>
                        </div>
                        <div class="col-md-1 col-1">
                            <a class="btn btn-default" href="#"
                               th:href="@{'/users/new'}" data-toggle="tooltip" data-placement="left"
                               title="Nuevo usuario">
                                <i class="fas fa-plus-circle fa-2x" style="color:green"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">

                            <div th:if="${deleteError}" class="alert alert-danger">
                                <p th:text="${deleteError}">...</p>
                            </div>
                            <div th:if="${deleteMessage}" class="alert alert-info">
                                <p th:text="${deleteMessage}">...</p>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-sm" id="usersTable">
                                    <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Rol</th>
                                        <th>Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td>
                                            <a href="#" th:text="${user.username}"
                                               th:href="@{'/users/'+${user.id}+'/edit'}">cesar
                                            </a>
                                        </td>
                                        <td th:text="${user.role}"></td>
                                        <td style="text-align: center;">
                                            <a href="#" class="badge badge-danger"
                                               data-toggle="modal"
                                               data-target="#modal-delete"
                                               th:attr="data-userid=${user.id}, data-username=${user.username}"
                                               id="deleteUserLink">
                                                <i class="fas fa-trash-alt fa-lg" data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="Eliminar..."></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="modal-delete">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modalTitle">
                                                    Eliminar ?</h4>
                                                <button type="button" class="close" data-dismiss="modal">
                                                    &times;
                                                </button>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                        data-dismiss="modal">Cancelar
                                                </button>
                                                <a href="#" id="deleteButton" class="btn btn-success">
                                                    Aceptar
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="none" class="init">
    /*<![CDATA[*/
    $('#modal-delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var userId = button.data('userid');
        var userName = button.data('username');
        $("#modalTitle").text('Eliminar ' + userName + '?');
        $("#deleteButton").attr("href", '/users/' + userId + '/delete');
    });

    /*]]>*/
</script>
</body>
</html>