<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h4 th:if="${ingredient.id} == null">Nuevo ingrediente</h4>
            <h4 th:if="${ingredient.id} != null">Editar ingrediente</h4>
        </div>
        <div class="card-body">
            <form th:object="${ingredient}" th:action="@{/ingredient}" method="post">

                <input type="hidden" th:field="*{id}"/>

                <div class="form-row">
                    <div class="form-group col-11">
                        <label for="inputCategory">Categoría</label>
                        <select id="inputCategory" class="form-control" th:field="*{category}"
                                th:required="required">
                            <option th:each="cat : ${ingredientCategories}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-1 align-self-end">
                        <a class="btn btn-default" href="#"
                           th:href="@{'/categories/ingredients/new'}" data-toggle="tooltip" data-placement="left"
                           title="Nueva categoria">
                            <i class="fas fa-plus-circle fa-2x" style="color:green"></i>
                        </a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-4">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control" id="inputName" placeholder="e.g. Harina"
                               th:field="*{name}" th:required="required"/>
                    </div>
                    <div class="form-group col-4">
                        <label for="inputUOM">Unidad de medida</label>
                        <select id="inputUOM" class="form-control" th:field="*{uom}"
                                th:required="required">
                            <option th:each="unit : ${T(com.platillogodin.dashboard.domain.UnitOfMeasure).values()}"
                                    th:value="${unit}"
                                    th:text="${unit.name()}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="inputExpiration">Caducidad</label>
                        <div class="input-group mb-2">
                            <input type="number" class="form-control" id="inputExpiration" placeholder="e.g. 2"
                                   th:field="*{expirationTime}" th:required="required" min="0"/>
                            <div class="input-group-text">day(s)</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>