<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="../static/css/navbar.css"
          th:href="@{/css/navbar.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(function () {
            console.log('on Load')
            getDailySalesData();
        });
        /*]]>*/
    </script>
</head>
<body>
<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">

    <a href="#"
       class="btn btn-info"
       data-target='#nxtWkIF'
       data-backdrop="static"
       data-toggle="modal">
        <i class="fas fa-table fa-lg"></i> Forecast de Ingredientes</a>

    <div class="modal" id="nxtWkIF" tabindex="-1">
        <div class="modal-dialog modal-lg">

            <div th:fragment="ingredientForecastFragment" id="ingredientForecastFragment">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Forecast de Ingredientes</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-sm" id="stockEntryTable">
                                <thead>
                                <tr>
                                    <th>Ingrediente</th>
                                    <th>Cantidad actual</th>
                                    <th>Cantidad estimada</th>
                                    <th>Diferencia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ingredient : ${ingredientForecastList}">
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-12">
            <div class="chartjs-wrapper">
                <canvas id="dailySalesChart" class="chartjs" width="undefined" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
    function getDailySalesData() {
        console.log('loading daily-sales')
        var colors = [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ];
        $.ajax({
            // url: 'http://localhost:8080/api/daily-sales',
            url: '/api/daily-sales',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data.data);
                console.log(Object.keys(data.data));

                var dataset = [];
                var i = 0;
                for (menu in data.data) {
                    console.log(menu)
                    console.log(data.data[menu])
                    dataset.push({
                        label: menu,
                        data: data.data[menu],
                        backgroundColor: colors[i],
                        borderColor: colors[i],
                        fill: false,
                        lineTension: 0.2
                    });
                    i++;
                }
                console.log(dataset);
                chartData = {
                    labels: data.labels,
                    datasets: dataset
                    //     [{
                    //     label: 'Comidas Totales',
                    //
                    //     data: data.units,
                    //     fill: false
                    // }]
                };
                var ctx = $("#dailySalesChart");
                createDailySalesChart(chartData, ctx)
            }
        });
    };

    function createDailySalesChart(chartData, ctx) {

        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Comidas por dia'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Dia'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '# Comidas'
                        }
                    }]
                }
            }
        });
    }
</script>

<script>

    $('#nxtWkIF').on('show.bs.modal', function (event) {
        $("#ingredientForecastFragment").load('/api/menus', 'menuId=' + menuDate);

    });
</script>
</body>
</html>