<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <!--   <script src="https://code.jquery.com/jquery-3.3.1.min.js"
               integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
               crossorigin="anonymous"></script>
       <link rel="stylesheet"
             href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
             integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
             crossorigin="anonymous">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
               integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
               crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
               integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
               crossorigin="anonymous"></script>
       <link href="../static/css/dashboard.css"
             th:href="@{/css/dashboard.css}" rel="stylesheet">
       <link rel="stylesheet"
             href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
             integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
             crossorigin="anonymous">-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="http://www.chartjs.org/samples/latest/utils.js"></script>
    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(function () {
            getDailySalesData();

        });
        /*]]>*/
    </script>
    <style>
        .table-condensed {
            font-size: 13px;
        }

        .align-right {
            text-align: right;
        }
    </style>
</head>
<body>
<div th:replace="general.html :: navbar"></div>
<div class="container-fluid" sec:authorize="hasRole('ADMIN')">

    <a href="#"
       class="btn btn-info"
       data-target='#nxtWkIF'
       data-backdrop="static"
       data-toggle="modal">
        <i class="fas fa-table fa-lg"></i> Forecast de Ingredientes</a>

    <a href="#"
       class="btn btn-info"
       data-target='#weeklyCosts'
       data-backdrop="static"
       data-toggle="modal">
        <i class="fas fa-table fa-lg"></i> Forecast de Costos</a>

    <div class="modal" id="nxtWkIF" tabindex="-1">
        <div th:fragment="ingredientForecastFragment" id="ingredientForecastFragment">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"
                            th:text="'Estimación de ingredientes - Semana: '+${weekNumber}+' '+${mondayDate}+' - '+${fridayDate}">
                            Forecast de
                            Ingredientes</h6>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-condensed">
                            <table class="table table-sm" id="ingredientsTable">
                                <thead>
                                <tr>
                                    <th>Ingrediente</th>
                                    <th>Cantidad existente</th>
                                    <th>Consumo estimado</th>
                                    <th>Diferencia</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${ingredientForecastList}">
                                    <td th:text="${item.ingredient}">Ingrediente</td>
                                    <td th:text="${item.actual}" class="align-right">
                                        423232
                                    </td>
                                    <td th:text="${item.forecast}"
                                        class="align-right">232323
                                    </td>
                                    <td th:text="${item.difference}"
                                        class="align-right"
                                        th:classappend="${item.className}">
                                        2323
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="weeklyCosts" tabindex="-1">
        <div th:fragment="weeklyCostsFragment" id="weeklyCostsFragment">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title"
                            th:text="'Estimación de costos - Semana: '+${weekNumber}+' ~ '+${mondayDate}+' a '+${fridayDate}">
                            Forecast de Costos</h6>
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive table-condensed">
                            <table class="table table-sm" id="weeklyCostsTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="align-right">Lunes</th>
                                    <th class="align-right">Martes</th>
                                    <th class="align-right">Miercoles</th>
                                    <th class="align-right">Jueves</th>
                                    <th class="align-right">Viernes</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="wcitem : ${weeklyCosts.weeklyCostItems}">
                                    <th th:text="${wcitem.menuCategory}"></th>
                                    <td th:text="${#numbers.formatCurrency(wcitem.mondayTotal)}" class="align-right"
                                        th:classappend="${wcitem.menuCategory.equals('TOTAL')?'alert-info font-weight-bold':''}"></td>
                                    <td th:text="${#numbers.formatCurrency(wcitem.tuesdayTotal)}" class="align-right"
                                        th:classappend="${wcitem.menuCategory.equals('TOTAL')?'alert-info font-weight-bold':''}"></td>
                                    <td th:text="${#numbers.formatCurrency(wcitem.wednesdayTotal)}" class="align-right"
                                        th:classappend="${wcitem.menuCategory.equals('TOTAL')?'alert-info font-weight-bold':''}"></td>
                                    <td th:text="${#numbers.formatCurrency(wcitem.thursdayTotal)}" class="align-right"
                                        th:classappend="${wcitem.menuCategory.equals('TOTAL')?'alert-info font-weight-bold':''}"></td>
                                    <td th:text="${#numbers.formatCurrency(wcitem.fridayTotal)}" class="align-right"
                                        th:classappend="${wcitem.menuCategory.equals('TOTAL')?'alert-info font-weight-bold':''}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-md-9 col-10">
                                <div class="table-responsive table-condensed">
                                    <table class="table table-sm" id="weeklyRecipeCostsTable">
                                        <thead>
                                        <tr>
                                            <th>Dia</th>
                                            <th>Categoria</th>
                                            <th>Platillo</th>
                                            <th># Estimado</th>
                                            <th>Costo Unitario</th>
                                            <th class="align-right">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="wrcItem : ${weeklyCosts.weeklyRecipeCosts}">
                                            <td th:text="${wrcItem.day}"></td>
                                            <td th:text="${wrcItem.menuCategory}"></td>
                                            <td th:text="${wrcItem.recipeName}"></td>
                                            <td th:text="${wrcItem.estimatedQty}"></td>
                                            <td
                                                    th:text="${#numbers.formatCurrency((wrcItem.total/wrcItem.estimatedQty))}"></td>
                                            <td th:text="${#numbers.formatCurrency(wrcItem.total)}"
                                                class="align-right"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-12">
            <div class="chartjs-wrapper">
                <canvas id="dailySalesChart" class="chartjs" width="undefined" height="200"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" sec:authorize="hasRole('USER')">
    Holi
</div>

<script>
    function getDailySalesData() {
        console.log('loading daily-sales')
        var colors = [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ];
        $.ajax({
            // url: 'http://localhost:8080/api/daily-sales',
            url: '/api/daily-sales',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data.data);
                console.log(Object.keys(data.data));

                var dataset = [];
                var i = 0;
                for (menu in data.data) {
                    console.log(menu)
                    console.log(data.data[menu])
                    dataset.push({
                        label: menu,
                        data: data.data[menu],
                        backgroundColor: colors[i],
                        borderColor: colors[i],
                        fill: false,
                        lineTension: 0.2
                    });
                    i++;
                }
                console.log(dataset);
                chartData = {
                    labels: data.labels,
                    datasets: dataset
                    //     [{
                    //     label: 'Comidas Totales',
                    //
                    //     data: data.units,
                    //     fill: false
                    // }]
                };
                var ctx = $("#dailySalesChart");
                createDailySalesChart(chartData, ctx)
            }
        });
    };

    function createDailySalesChart(chartData, ctx) {

        var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Comidas por dia'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Dia'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '# Comidas'
                        }
                    }]
                }
            }
        });
    }
</script>

<script>

    $('#nxtWkIF').on('show.bs.modal', function (event) {
        console.log("Loading /api/ingredient-forecast");

        $("#ingredientForecastFragment").load('/api/ingredient-forecast', function () {
            // $("#ingredientForecastFragment").load('http://localhost:8080/api/ingredient-forecast', function () {
            $('#ingredientsTable').DataTable({
                lengthChange: false,
                searching: false,
                paging: false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ]
            });
        });
    });

    $('#weeklyCosts').on('show.bs.modal', function (event) {
        console.log("Loading /api/weekly-costs-forecast");


        $("#weeklyCostsFragment").load('/api/weekly-costs-forecast');
        // $("#weeklyCostsFragment").load('http://localhost:8080/api/weekly-costs-forecast');
    });


</script>
</body>
</html>