<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script type="text/javascript" th:inline="none" class="init">
        /*<![CDATA[*/
        $(document).ready(function () {
            $('#ingredientTable').DataTable({
                "lengthMenu": [5, 10, 25, 50],
                "pageLength": 5,
                "order": [[0, 'asc'], [1, 'asc']]
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        /*]]>*/
    </script>
</head>
<body>

<div th:replace="general.html :: navbar"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-11">
                            <h5 th:text="${recipeIngredient.recipe.name+' - Seleccione un ingrediente'}"></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form th:object="${recipeIngredient}"
                          th:action="@{'/recipes/'+${recipeIngredient.recipe.id}+'/ingredient'}"
                          method="post">
                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <ul>
                                <li th:each="error : ${#fields.allErrors()}" th:text="${error}">Error</li>
                            </ul>

                        </div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{ingredient}"/>
                        <!--<input type="hidden" th:field="*{recipe}"/>-->
                        <div class="form-row align-items-center">
                            <div class="form-group col-6" >
                                <label for="inputIngredient">Ingrediente</label>

                                <input type="text" class="form-control" id="inputIngredient"
                                       th:field="*{ingredient.name}" th:disabled="disabled"/>
                            </div>
                            <div class="col-1">
                                <a href="#" data-toggle="modal" id="search"
                                   data-target="#searchIngredient">
                                    <i class="fas fa-search fa-2x"></i>
                                </a>

                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-6">
                                <label for="inputQuantity">Cantidad</label>
                                <div class="input-group mb-2">
                                    <input type="number" id="inputQuantity" class="form-control" th:field="*{quantity}"
                                           th:required="required" min="0">
                                    <div class="input-group-text"
                                         th:if="${recipeIngredient.ingredient.uom} != null"
                                         th:text="${recipeIngredient.ingredient.uom.name().toLowerCase()}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row justify-content-end">
                            <div class="col-md-1 col-4">
                                <a class="btn btn-secondary" href="#" role="button"
                                   th:href="@{'/recipes/'+${recipeIngredient.recipe.id}+'/show'}">
                                    Cancelar</a>
                            </div>
                            <div class="col-md-1 col-4">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:id="searchIngredient">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table" id="ingredientTable">
                                        <thead>
                                        <tr>
                                            <th>Ingrediente</th>
                                            <th>Categoria</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="item : ${ingredientList}">
                                            <td>
                                                <a href="#" th:text="${item.name}"
                                                   th:href="@{'/recipes/'+${recipeIngredient.recipe.id}+'/ingredients/add?ingredientId='+${item.id}}">Jitomate
                                                </a>
                                            </td>
                                            <td th:text="${item.category.name}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>