<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../static/js/jquery.typeahead.js"
            th:src="@{/js/jquery.typeahead.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/jquery.typeahead.css"
          th:href="@{/css/jquery.typeahead.css}">

</head>
<body>
<form id="form-font_v1" name="form-font_v1" action="#">
    <div class="typeahead__container">
        <div class="typeahead__field">
            <div class="typeahead__query">
                <input class="js-typeahead-font_v1 form-control" type="search" id="myInput"
                       autocomplete="off">
            </div>
        </div>
    </div>

    <button type="submit">OK</button>
    <script>
        $.typeahead({
            input: '.js-typeahead-font_v1',
            maxItem: 10,
            order: "asc",
            hint: true,
            group: {
                template: function (item) {
                    return item.recipeCategory.name;
                }
            },
            display: "name",
            backdrop: {
                "opacity": 0.45,
                "filter": "alpha(opacity=45)",
                "background-color": "#fff"
            },
            compression: true,
            source: {

                    ajax: {
                        url: "http://localhost:8080/api/recipes",
                        dataType: "json"
                    }

            },
            callback: {
                onClickAfter: function (node, a, item, event) {
                    event.preventDefault;
                    $('#myInput').val(item.id)
                }
            },
            debug: true
        });

        $('#form-font_v1').submit(function (t) {
            event.preventDefault();
            alert($('#myInput').val())
        });
    </script>
</form>
</body>
</html>