<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles"></th:block> /*/-->

    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link href="../static/css/dashboard.css"
          th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">-->

    <!-- Custom styles for this template -->
    <script type="text/javascript"
            src="../../static/plugins/dncalendar/js/dncalendar.min.js"
            th:src="@{/plugins/dncalendar/js/dncalendar.min.js}"></script>
    <!--<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css"
          href="../../static/plugins/dncalendar/css/dncalendar-skin.min.css"
          th:href="@{/plugins/dncalendar/css/dncalendar-skin.min.css}">

    <script type="text/javascript"
            src="../../static/plugins/jquery-typeahead/jquery.typeahead.js"
            th:src="@{/plugins/jquery-typeahead/jquery.typeahead.js}"></script>

    <link rel="stylesheet" type="text/css"
          href="../../static/plugins/jquery-typeahead/jquery.typeahead.css"
          th:href="@{/plugins/jquery-typeahead/jquery.typeahead.css}">

    <script type="text/javascript">
        $(function () {
            var my_calendar = $("#dncalendar-container").dnCalendar({
                dataTitles: {defaultDate: 'Activo', today: 'Hoy'},
                dayClick: function (date) {
                    var month = date.getMonth() + 1;
                    my_calendar.update({
                        defaultDate: date.getFullYear() + "-" + month + "-" + date.getDate()
                    });
                    // callApi(date);
                    callMenuApi(date);
                }
            });
            my_calendar.build();
            my_calendar.update({
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre",
                    "Octubre", "Noviembre", "Diciembre"],
                dayNames: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
                startWeek: 'Monday'
            });

            var menuId = $('#menuId').val();
            if (menuId !== '') {
                console.log("MENU ID de URL");
                var year = menuId.substring(0, 4);
                var month = Number(menuId.substring(4, 6)) - 1;
                var day = menuId.substring(6);
                var d = new Date(year, month, day);
                console.log(d);
                callMenuApi(d);
            }
        });

        function callMenuApi(date) {
            var month = date.getMonth() + 1;
            var mm = Array(2 - String(month).length + 1).join('0') + month;
            var day = Array(2 - String(date.getDate()).length + 1).join('0') + date.getDate();

            var menuDate = date.getFullYear() + mm + day;
            $('#collapseExample').collapse('hide');
            $("#contentFragment").load('/api/menus', 'menuId=' + menuDate, function () {
                $('#menuIdFrame').val(menuDate);
            });
            $("#content").show();
        }
    </script>
    <style>
        .table {
            font-size: 12px;
        }

        .smallFont {
            font-size: 12px;
        }

        .card-body {
            padding: 0.3rem;
        }

        .card-header {
            padding: .5rem 1rem;
        }

        .table th {
            padding: .25rem;
        }
    </style>
</head>
<body>
<div th:replace="general.html :: navbar"></div>
<div class="container-fluid">
    <div class="collapse show" id="collapseExample">
        <div class="row justify-content-center">
            <div class="col-sm-5">
                <div id="dncalendar-container" class="container"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">

        <a href="#" class="badge badge-secondary" data-toggle="collapse" data-target="#collapseExample"
           aria-expanded="true" aria-controls="collapseExample"><i class="far fa-calendar-alt fa-2x"></i>
        </a>
    </div>

    <div style="display: none" id="content">
        <div th:fragment="content" id="contentFragment">

            <input type="hidden" name="menuIdFrame" id="menuIdFrame">


            <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-1 border-bottom">
                <h6
                        th:text="${'Menú del: '+#temporals.dayOfWeekName(menu.date)+', '+#temporals.format(menu.date, 'dd - MMMM - yyyy')}">
                    Menu del: Lunes, 12 - Septiembre - 2018 </h6><span th:if="${menu.processed}" style="color: green;
                     font-size: small">
                        <i class="fas fa-check" style="color:green"></i> Procesado
                    </span>
                <div class="btn-toolbar mb-2 mb-md-0">

                    <button class="btn btn-sm btn-outline-secondary" id="processDayBtn"
                            th:if="${!menu.processed}">Procesar Menú
                    </button>

                </div>
            </div>


            <div class="alert alert-danger" id="errorMessage" style="display: none;"></div>
            <div class="alert alert-secondary" id="message" style="display: none;"></div>
            <div class="row justify-content-center">

                <div class="col-12 col-md-6 mb-3" th:each="cat, stat : ${categories}">
                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-between">
                                <div class="col-md-10 col-10">
                                    <h6 th:text="${cat.name}">Gofitness</h6>
                                </div>
                                <div class="col-md-2 col-1 text-right">
                                    <a href="#"
                                       data-target='#addDish'
                                       data-backdrop="static"
                                       data-catid='0'
                                       th:attr="data-catid=''+${cat.id},
                                        data-menuid=''+${menu.id}"
                                       data-toggle="modal"
                                       th:if="${!menu.processed}">
                                        <i class="fas fa-plus-circle fa-lg" style="color:green"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Platillo</th>
                                    <th>#Est</th>
                                    <th>#Real</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="option" type="com.platillogodin.dashboard.domain.MenuOption"*/-->
                                <tr th:each="option : ${menu.options.?[menuCategory.id == __${cat.id}__]}">
                                    <td style="width: 25%">
                                         <span th:if="${!menu.processed}">
                                             <a href="#" class="deleteOptionBtn"
                                                th:attr="data-menuoptionid=${option.id},
                                                    data-menuid=${menu.id}">
                                             <i class="fas fa-times" style="color:red"></i>
                                         </a> -
                                         </span>
                                        <span th:text="${option.menuOptionType.getSpanishName()}">Plato Fuerte
                                                 </span>
                                    </td>
                                    <td style="width: 55%">
                                        <a class="smallFont text-secondary font-weight-bold" href="#"
                                           data-target='#addDish'
                                           data-backdrop="static"
                                           data-catid='0'
                                           th:attr="data-catid=''+${cat.id},
                                                    data-menuid=${menu.id},
                                                    data-menuoptionid=${option.id},
                                                    data-recipeid=${option.recipe.id},
                                                    data-recipe=''+${option.recipe.name},
                                                    data-actualquantity=${option.actualQuantity},
                                                    data-forecastquantity=${option.forecastQuantity}"
                                           data-toggle="modal"
                                           th:text="${option.recipe.name}"
                                           th:if="${!menu.processed}">Chicharron en chile verde</a>

                                        <div th:text="${option.recipe.name}" th:if="${menu.processed}">Chicharron en
                                            chile verde
                                        </div>

                                    </td>
                                    <td style="width: 10%">
                                        <div th:text="${option.forecastQuantity}">1580</div>
                                    </td>
                                    <td style="width: 10%">
                                        <div th:text="${option.actualQuantity}">1880</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="addDish" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form id="menuOptionForm" action="">
                            <div class="modal-header">
                                <h5 class="modal-title">Añadir/Modificar platillo</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">

                                <input type="hidden" name="menuId" id="menuId" th:value="${menuId}">
                                <input type="hidden" name="categoryId" id="categoryId">
                                <input type="hidden" name="menuOptionId" id="menuOptionId">
                                <div class="form-row">
                                    <div class="form-group col-md-5 col-12">
                                        <label for="inputMOType">Tipo</label>
                                        <select id="inputMOType" class="form-control">
                                            <option th:each="unit : ${T(com.platillogodin.dashboard.domain.MenuOptionType).values()}"
                                                    th:value="${unit}"
                                                    th:text="${unit.getSpanishName()}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7 col-12">
                                        <label for="recipe">Platillo</label>

                                        <div class="typeahead__container">
                                            <div class="typeahead__field">
                                                <input class="js-typeahead-font_v1 form-control" type="search"
                                                       id="recipe"
                                                       autocomplete="off"
                                                       required="required"
                                                       placeholder="Escribe el nombre del platillo...">

                                            </div>
                                        </div>

                                    </div>
                                    <input type="hidden" id="recipeId">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5 col-6">
                                        <label for="forecastQuantity"># Estimado</label>
                                        <input type="number" min="0" id="forecastQuantity" class="form-control"
                                               required="required">
                                    </div>
                                    <div class="form-group col-md-5 col-6">
                                        <label for="actualQuantity"># Real</label>
                                        <input type="number" min="0" id="actualQuantity" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success" data-dismiss="modal"
                                        id="submitBtn">Aceptar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <script>
                $.typeahead({
                    input: '.js-typeahead-font_v1',
                    maxItem: 10,
                    order: "asc",
                    hint: false,
                    group: {
                        template: function (item) {
                            return item.recipeCategory.name;
                        }
                    },
                    display: "name",
                    source: {
                        ajax: {
                            url: "/api/recipes",
                            dataType: "json"
                        }
                    },
                    callback: {
                        onClickAfter: function (node, a, item, event) {
                            event.preventDefault();
                            $('#recipeId').val(item.id)
                        },

                        onCancel: function () {
                            $('#recipeId').val('')
                        }
                    },
                    debug: false
                });

                var $recipe = $('#recipe');
                var $recipeId = $('#recipeId');
                $recipe.on('focusout', function () {
                    if (!$recipeId.val()) {
                        $recipe.val('')
                    }
                });
                $recipe.on('change', function () {
                    $recipeId.val('')
                });

                var $processDayBtn = $('#processDayBtn');
                $processDayBtn.on('click', function () {
                    $processDayBtn.prop("disabled", true);
                    var $menuId = $('#menuIdFrame').val();
                    $.ajax({
                        url: '/api/menu/process-day?menuId=' + $menuId,
                        method: 'GET',
                        success: function (data) {
                            $("#contentFragment").load('/api/menus', 'menuId=' + $menuId, function () {
                                var messageSel = $('#message');
                                $('#menuIdFrame').val($menuId);
                                messageSel.text(data);
                                messageSel.show();
                                messageSel.delay(10000).fadeOut('slow');
                            });


                        },
                        error: function (jqXHR) {
                            var errorMsgSel = $('#errorMessage');
                            errorMsgSel.text(jqXHR.responseText);
                            errorMsgSel.show();
                            errorMsgSel.delay(10000).fadeOut('slow');
                            $processDayBtn.prop("disabled", false);
                        }
                    });
                });

                $('.deleteOptionBtn').on('click', function () {

                    var menuOptionId = $(this).data('menuoptionid');
                    var menuId = $(this).data('menuid');

                    $.ajax({
                        method: 'GET',
                        url: "/api/menu_option/delete?menuOptionId=" + menuOptionId + '&menuId=' + menuId,
                        success: function (data) {
                            console.log("Success ", data);
                            $("#contentFragment").load('/api/menus', 'menuId=' + menuId, function () {
                                $('#menuIdFrame').val(menuId);
                            });
                        },
                        error: function (e) {
                            console.log("ERROR : ", e);
                        }
                    });

                });

                var $addDishSel = $('#addDish');
                $addDishSel.on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    var catId = button.data('catid');
                    var menuId = button.data('menuid');
                    var menuOptionId = button.data('menuoptionid');
                    var forecastQuantity = button.data('forecastquantity');
                    var actualQuantity = button.data('actualquantity');
                    var recipe = button.data('recipe');
                    var recipeId = button.data('recipeid');
                    $(this).find('#categoryId').val(catId);
                    $(this).find('#menuId').val(menuId);

                    $(this).find('#menuOptionId').val(menuOptionId);
                    $(this).find('#forecastQuantity').val(forecastQuantity);
                    $(this).find('#actualQuantity').val(actualQuantity);
                    $(this).find('#recipe').val(recipe);
                    $(this).find('#recipeId').val(recipeId)
                });

                $addDishSel.on('hide.bs.modal', function () {
                    $('#menuOptionForm').trigger("reset");
                });

                $("#submitBtn").on('click', function (event) {
                    var $forecastQty = $('#forecastQuantity');
                    var $recipeId = $('#recipeId');
                    if ($forecastQty.val() === '' || $recipeId.val() === '') {
                        event.stopPropagation();

                    } else {
                        event.preventDefault();
                        var menuOption = {};
                        var recipe = {};
                        var menu = {};
                        var menuCategory = {};
                        var $menuOptionIdSel = $('#menuOptionId')
                        menuOption["id"] = $menuOptionIdSel.val() !== '' ? Number($menuOptionIdSel.val()) : null;
                        menu["id"] = Number($('#menuId').val());
                        menuOption["menu"] = menu;
                        recipe["id"] = Number($recipeId.val());
                        menuOption["recipe"] = recipe;
                        menuCategory["id"] = Number($('#categoryId').val());
                        menuOption["menuCategory"] = menuCategory;
                        menuOption["menuOptionType"] = $('#inputMOType').val();

                        menuOption["forecastQuantity"] = Number($forecastQty.val());

                        var $actualQuantity = $('#actualQuantity');
                        menuOption["actualQuantity"] = $actualQuantity.val() !== '' ? Number($actualQuantity.val()) : null;

                        console.log(menuOption);
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: "/api/menu_option",
                            data: JSON.stringify(menuOption),
                            success: function (data) {
                                console.log("Success ", data);
                                $("#contentFragment").load('/api/menus', 'menuId=' + menu.id, function () {
                                    $('#menuIdFrame').val(menu.id);
                                });
                            },
                            error: function (e) {
                                console.log("ERROR : ", e);
                            }
                        });
                    }
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>